<!--<ul *ngFor="let elev of liste">
  <li>
    Navn: {{elev.fname}} {{elev.ename}} klasse: {{elev.trinn}}{{elev.klasse}} <button (click)="reg(elev.id)">{{regKnptekst}}</button>
  </li>
  </ul>-->
 
  <div id="table-container">
      <div id="info">
          Totalt antall elever: {{totantall}}<br>
          Antall innsjekket elever er: {{antSjekketInn}}
            </div>
            <ul *ngFor="let trinn of antTrinn; let i of index" class="pagination" >
              <li><a href="#"(click)="getTrinn(trinn,$event)" >{{trinn}}</a></li>

            </ul>
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Trinn</th>
              <th scope="col">Navn</th>
              
              <th scope="col">Klasse</th>
              <th scope="col">Sjekket inn</th>
              <th scope="col">Sjekket Ut</th>
              
             <th>
      
             </th>
             <th></th>
             
            </tr>
            <div *ngIf="test"><span>Laster....</span></div>
          </thead>
          <tbody *ngFor="let elev of elever">
            <tr *ngIf="setTrinn(elev)">
              <th scope="row">{{elev.trinn}}</th>
            
              <td>{{elev.fname}} {{elev.ename}}</td>
              <td>{{elev.klasse}}</td>
              <td> <button  type="button" [ngClass]="cssVelger(elev.SjekkInn)"  (click)="inn(elev.id)"> {{regKnptekst}} </button> </td>
              <td *ngIf="elev.SjekkInn">              
                  <img src="../../assets/images/green.jpg"width="30" height="30">
                  {{tid(elev.id)}}
               </td>
              
             
             
               <td>
                                 <button  type="button" [ngClass]="cssVelger(elev.SjekkUt)" (click)="ut(elev.id)"> Sjekk ut </button>
                                 
               </td>
               <td *ngIf="elev.SjekkUt">              
                  <img src="../../assets/images/green.jpg"width="30" height="30">
                  {{utTid(elev.id)}}
               </td>

              
              
            </tr>
           <!-- <ng-template #noData>Finner ikke aktuelle data</ng-template>-->
          </tbody>
        </table>
      </div>