


.container{
    width:80%;
    margin:auto;
    overflow:hidden;
    margin-bottom: 10px;
}
#main-header{
    margin-top:15px;
    background-color:coral;
    color:#fff;
    border-radius: 10px;
    width: 99%;
    margin: auto;

}
#navbar{
    background-color:#333;
    color:#fff;
    width: 99%;
    border-radius: 10px;
    margin:auto;
}
#navbar ul{
    padding:0;
    list-style:none;

}
#navbar li{
    /*Dette gjør at list item ene i ul ligger side lengs og ikke nedover*/
    display:inline
}
#navbar a{
   color:#fff;
   text-decoration:none;
   padding-right:15px;
   font-size:18px;
}
