<header id="main-header">
  <div class="container">
      <h1>{{title}}</h1>
  </div>
</header>
<nav id="navbar">
   <div class="container">
       <ul>
           <li><a routerLink="/visAlle" routerLinkActive="active">Vis alle elever</a></li>
           <li><a routerLink="/sjekkInn" routerLinkActive="active">sjekk Inn</a></li>
           <li><a routerLink="/regNy" routerLinkActive="active">Registrer </a></li>
           <li><a routerLink="/start" routerLinkActive="active">Velkommen </a></li>
          
          
          
       </ul>
   </div>
</nav>
