


.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
#main-header{
    background-color:coral;
    color:#fff;

}
#navbar{
    background-color:#333;
    color:#fff;
}
#navbar ul{
    padding:0;
    list-style:none;

}
#navbar li{
    /*Dette gjør at list item ene i ul ligger side lengs og ikke nedover*/
    display:inline
}
#navbar a{
   color:#fff;
   text-decoration:none;
   padding-right:15px;
   font-size:18px;
}
#showcase{
    background-image:url('../../assets/images/bilde.jpg');
    
    background-position:center right;
    min-height:300px;
    margin-bottom:30px;
    text-align:center;
}