<h4> 
{{navn}}
</h4>
<!--
<a routerLink="/visAlle" routerLinkActive="active" class="back"><i class="fa fa-arrow-left back" aria-hidden="true"></i>Back</a>      *ngIf="test | async as test else noData"-->
<!--<ul >
<li *ngFor="let att of test">
{{att.Dato}} {{att.SjekkInn}} {{att.SjekkUt}}


</li>
</ul>
<ng-template #noData>Finner ikke aktuelle data</ng-template>-->
<div id="table-container">
        <table class="table table-hover">
            <thead>
              <tr>
                
                <th scope="col">Dato</th>
                <th scope="col">Sjekket inn</th>
                <th scope="col">Sjekket ut</th>
                
               
               
               
              </tr>
            </thead >
            <tbody > 
              <tr  *ngFor="let att of attendens" >       <!--*ngIf="attendens$ | async as attendens else noData"-->
               
               
                <td>{{att.Dato}}</td>
                <td>{{att.SjekkInn}}  </td>
                <td>{{att.SjekkUt}}</td>
                
               
                
                
                <ng-template #noData>Finner ikke aktuelle data</ng-template>-->
               
              </tr>
             
            </tbody>
          </table>
        </div>

